# Problem :-2   SQL Queries

In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

DEPRECATION: Loading egg at c:\programdata\anaconda3\lib\site-packages\vboxapi-1.0-py3.11.egg is deprecated. pip 23.3 will enforce this behaviour change. A possible replacement is to use pip for package installation..

In [3]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('student_course.db')
cursor = conn.cursor()

cursor.execute('''
CREATE TABLE IF NOT EXISTS Student (
    RollNo INTEGER PRIMARY KEY,
    Name TEXT,
    Marks INTEGER,
    Aadhar_Number TEXT UNIQUE,
    Address TEXT
)
''')

cursor.execute('''
CREATE TABLE IF NOT EXISTS Course (
    RollNo INTEGER,
    Course TEXT,
    Course_Duration INTEGER,
    FOREIGN KEY (RollNo) REFERENCES Student(RollNo)
)
''')

cursor.execute('DELETE FROM Student')  
cursor.executemany('''
INSERT INTO Student (RollNo, Name, Marks, Aadhar_Number, Address) VALUES (?, ?, ?, ?, ?)
''', [
    (1, 'Alice', 85, '123456789012', '123 Street, City'),
    (2, 'Bob', 28, '234567890123', '456 Avenue, City'),
    (3, 'Charlie', 92, '345678901234', '789 Boulevard, City'),
    (4, 'David', 47, '456789012345', '101 Road, City'),
    (5, 'Raj', 65, '567890123456', '202 Highway, City')
])

cursor.execute('DELETE FROM Course') 
cursor.executemany('''
INSERT INTO Course (RollNo, Course, Course_Duration) VALUES (?, ?, ?)
''', [
    (1, 'BCA', 3),
    (2, 'MCA', 2),
    (3, 'B.Tech', 4),
    (4, 'MBA', 2),
    (5, 'BCA', 3)
])

conn.commit()

queries = {
    "Average Marks": "SELECT AVG(Marks) AS Average_Marks FROM Student",
    "Names in Ascending Order": "SELECT Name FROM Student ORDER BY Name ASC",
    "Students Scoring Below 30": "SELECT RollNo, Name FROM Student WHERE Marks < 30",
    "Names Starting with 'R'": "SELECT RollNo FROM Student WHERE Name LIKE 'R%'",
    "Students Pursuing BCA": "SELECT RollNo FROM Course WHERE Course = 'BCA'"
}

def execute_and_display_query(query):
    result = cursor.execute(query).fetchall()
    return pd.DataFrame(result)

for query_name, query in queries.items():
    print(f"\n{query_name}:")
    df = execute_and_display_query(query)
    print(df)

conn.close()

Average Marks:
      0
0  63.4

Names in Ascending Order:
         0
0    Alice
1      Bob
2  Charlie
3    David
4      Raj

Students Scoring Below 30:
   0    1
0  2  Bob

Names Starting with 'R':
   0
0  5

Students Pursuing BCA:
   0
0  1
1  5